body{
    font-family:Noto sans;
   
}

#banner{
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(img/web2.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}
#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 9%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
.content{
    min-height: 600px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    font-family: cursive;
}
@media(min-width:768px){
    #my-pic{
    float:left;
    width:350px;
    height:480px;
    }
}
@media(max-width:767px)
{
    #my-pic{
        display:none;
    }
}
#resume{
    display: none;
}
#Projects{
    display: none;
}
#skills{
    display:none;
}
#Contact{
    display: none;
    margin-bottom: 25px;
}
.about-content{
    font-family: Noto sans;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    display:none;
}
.heading{
    font-weight: 700;
    font-size: 40px;
    
}
.date{
    color: rgb(3,27,200);
    font-weight: 700;
    font-size:20px;
}
.cont-heading{
    font-weight: 500;
    
    
}
.skills{
    border: 5px solid rgb(3,27,200);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    
}
.shadow{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  height: 310px;
  padding: 20px 10px 20px 10px;
  margin: 20px;
}
 
.shadow1{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  height: 250px;
  padding: 20px 10px 20px 10px;
  margin: 20px;
}
 .shadow2{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  height: 250px;
  padding: 20px 10px 20px 10px;
  margin: 20px;
  justify-content: center;
  align-content: center;
}
.con-head{
    font-weight: 500px;
    font-size: 20px;
}

.progress{
    height: 15px;
}
.progress-bar{
    background-color: rgb(3,27,200);
    font-size: 10px;
}
.progress-head{
    font-size: 20px;
    
}
footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 300px;
    font-family: cursive;
}